* {
    background: url("https://source.unsplash.com/1600x900/?landscape"); 
    background-size: cover;
    

}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

p {
    font-size: 30px;
    width: 1000px;
margin-left: 150px;
    cursor: pointer;
    background: none;
}

.minha-foto {
    
    width: 300px;
    height: 500px;
    margin-left: 38%;
    margin-top: 10px;
    cursor: pointer;
}

.meu-link {
    font-size: 30px;
    color: rgb(255, 230, 8);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold;
    background: none;
}

.insta {
    width: 30px;
   margin-left: 50%;
    cursor: progress;
    background: none;
  
}


a:hover {
    color: rgb(243, 12, 12);
}

a:active {
    color: rgb(8, 241, 8)
}

h1:hover {
    color: rgb(76, 27, 253)
}

p:hover {
    color: rgb(247, 75, 7)
}

@media screen and (max-width:600px){

    h1 {
    font-size: 30px;
    width: 300px;
 margin-left: 30px;
  
    
    }

    p {
        font-size: 25px;
        width: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .meu-link{

        margin-bottom: 10px;
    }

    .minha-foto {

        margin-left: 25px;
    }
}